<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>users</title>
</head>
<body>
    <nav>
        {% if not current_user.is_authenticated %}
            <a href="{{url_for('register')}}"> register </a>
            <a href="{{url_for('login')}}"> login </a>
        {% else %}
            <a href="{{url_for('logout')}}"> logout </a>
        {% endif %}
    </nav>
    

    <ul>
        {% for user in users %}

            <li><a href="{{url_for('detail', id=user.id)}}">{{ user.name }}</a></li>
            

        {% endfor %}
    </ul>

    
    
</body>
</html>