{% extends "base.html" %}

{% block content %}

<h1>Usuario</h1>
<div class="mt-4 mb-4">
    <a href="{{url_for('user_add_book', id=user.id)}}" class="btn btn-success"> adicionar livro </a>
</div>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{user.id}} </li>
        <li class="list-group-item">{{ user.name}}</li>
        <li class="list-group-item">{{user.email}}</li>
        <li class="list-group-item">{{user.profile.photo}}</li>
    </ul>
    <h2>Livros</h2>

    <ul class="list-group list-group-flush">
        {% for book in user.books %}
        <li class="list-group-item">{{book.name}} </li>
        {% endfor %}
    </ul>


        <br>
            <a href="{{url_for('delete', id=user.id)}}" class="btn btn-warning"> deletar </a>
        <br>
   

{% endblock content %}